.navbar {
    height: 5vh;
}

.cardContainer {
    background-color: skyblue !important;
    min-height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.question-footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid;
    align-items: center;
    padding-top: 15px; 
}

.quizCard {
    width: 30rem;
}

.quizAnswerCard:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05);
}